html {
  font-size: 10px;
}

body {
  margin: 0;
  color: white;
  font-size: 1.6rem;
}

a {
  color: white;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

#wrap {
  background-color: #2e2e2e;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 0 10px;
}

header i {
  color: white;
  font-size: 2rem;
}

header button {
  background: none;
  border: none;
}

.text_out {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* navbar */

.navbar {
  background-color: #1c1c1c;
  padding: 10px;
}

.navbar_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_menu li {
  padding: 10px;
}

/* banner */

#banner {
  padding-bottom: 20%;
  background-image: url("static/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#banner p {
  position: relative;
  top: 10vh;
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 5rem;
}

#banner .searchbox {
  position: relative;
  top: 10vh;
  width: 720px;
  height: 70px;
  border: 1px solid;
  border-radius: 50px;
  border-color: white;
  margin: 0 auto;
  display: flex;
  font-size: 3rem;
}

#banner .searchbox .item1 {
  padding: 20px;
  border-right: 1px solid;
  text-align: center;
  flex-grow: 1;
}

#banner .searchbox .item2 {
  padding: 20px;
  flex-grow: 2;
  font-weight: lighter;
}

#banner .searchbox .item3 {
  padding: 20px;
}

/* section */

section {
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.title {
  font-size: 3.2rem;
}

/* articlel 1 */

#article1 .minicontainer {
  margin: 50px;
}

#article1 .container {
  margin-bottom: 50px;
}

#article1 .container .item {
  width: 360px;
  height: 330px;
  border: 1px solid;
  border-color: white;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* article 2 */

#article2 .minicontainer {
  margin-bottom: 50px;
}

#article2 .container {
  margin-bottom: 50px;
}

#article2 .container .item {
  width: 360px;
  height: 330px;
  border: 1px solid;
  border-color: white;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* article 3 */

#article3 .slide .item {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  margin: 0 50px 50px 50px;
  padding: 30px;
}

#article3 p {
  margin-bottom: 50px;
}

#article3 .slide p {
  margin-bottom: 30px;
  background-color: #585858;
}

#article3 .slide b {
  background-color: #585858;
}

#article3 .slide sup {
  background-color: #585858;
}

#article3 .button {
  border: 1px solid;
  border-radius: 30px;
  border-color: white;
  background-color: #585858;
  padding: 10px 20px;
}

/* article 3 slide */

#article3 .slide {
  overflow: hidden;
}

#article3 .slide ul {
  width: 600%;
  display: flex;
  animation: slide 20s infinite;
}

#article3 .slide li {
  width: 16.7%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  8% {
    margin-left: 0;
  }
  16% {
    margin-left: -100%;
  }
  24% {
    margin-left: -100%;
  }
  32% {
    margin-left: -200%;
  }
  40% {
    margin-left: -200%;
  }
  48% {
    margin-left: -300%;
  }
  56% {
    margin-left: -300%;
  }
  64% {
    margin-left: -400%;
  }
  72% {
    margin-left: -400%;
  }
  80% {
    margin-left: -500%;
  }
  90% {
    margin-left: -500%;
  }
  100% {
    margin-left: 0;
  }
}

/* article 4 */

#article4 {
  margin: 50px 10px;
}

#article4 .call1 {
  width: 100%;
}

#article4 .call2 {
  display: none;
}

#article4 p {
  font-weight: lighter;
}

#article4 .button {
  width: 235px;
  height: 60px;
  border: 1px solid;
  border-color: white;
  font-weight: lighter;
  padding: 10px 20px;
  margin: 10px;
}

/* footer */

.footer_item .title {
  font-size: 2rem;
}

.footer_item a {
  font-size: 1.6rem;
  font-weight: lighter;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* footer_top */

.footer_top {
  background-color: #1c1c1c;
}

.footer_top .footer_item {
  padding: 20px 0;
  margin-left: 20px;
}

/* footer_bottom */

.footer_bottom {
  background-color: #000000;
}

.footer_bottom .footer_item {
  padding: 20px 0;
  margin-left: 20px;
}

.footer_bottom .footer_item input {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #000000;
}

.footer_bottom .footer_item span {
  margin-right: 20px;
  font-size: 1.6rem;
  font-weight: lighter;
}

/* media query */

@media (max-width: 812px) {
  /* header */
  header {
    display: flex;
    justify-content: space-between;
  }

  .header_hamburger {
    padding-left: 10px;
  }

  .header_search {
    padding-right: 10px;
  }

  /* navbar */
  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* banner */
  #banner p {
    font-size: 3.6rem;
    position: relative;
    top: 5vh;
  }

  #banner .searchbox {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 50px;
    border-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    position: relative;
    top: 5vh;
  }

  #banner .searchbox .item1 {
    padding: 10px;
    border-right: 1px solid;
  }

  #banner .searchbox .item2 {
    padding: 10px;
    font-weight: lighter;
  }

  #banner .searchbox .item3 {
    padding: 10px;
  }

  /* article 1 */
  #article1 .container {
    width: 100%;
  }

  #article1 .container .item {
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #article1 .container .item span {
    display: block;
    padding-top: 10px;
  }

  /* article 2 */
  #article2 .container {
    width: 100%;
  }

  #article2 .container .item {
    width: 50%;
    height: 40vh;
  }

  #article2 .container .item span {
    display: block;
    padding-top: 10px;
  }

  /* article 3 */
  #article3 .slide {
    width: 100%;
  }

  #article3 .slide .item {
    width: 50%;
  }

  /* article 4 */
  #article4 .call1 {
    display: none;
  }

  #article4 .call2 {
    display: inline-block;
    width: 90%;
  }

  /* footer_bottom */
  .footer_bottom .footer_item input {
    width: 80%;
  }
}
